html{
    overflow: hidden;
}
body{
    margin: 0;
}

#mainBackground{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #8d0e19 , #280204);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@media screen and (max-width: 1300px) {


    #branchBox {
        height: 30%;
    }

    #branch {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: left top;

    }

    #timerBox {
        display: flex;
        justify-content: center;
        flex: 1;
        order: 2;
    }

    #presentBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex: 2;
    }

    #present {
        width: 60%;
        align-self: center;
    }
    h1{
        color: white;
        font-family: Arial;
        font-size: 7vh;
        text-align: center;
        justify-self: center;
    }
}

@media screen and (min-width: 1301px) {
    #branchBox {
        height: 30%;
    }

    #branch {
        object-fit: scale-down;
        width: 100%;
        height: 100%;
        object-position: left top;
    }

    #presentBox {
        display: flex;
        justify-content: center;
    }

    #present {
        display: flex;
        margin-bottom: 7%;
        width: 20%;
    }
    #timerBox {
        display: flex;
        justify-content: center;
        align-content: start;
        flex: 1;
        order: 2;
    }
    h1{
        color: white;
        font-family: Arial;
        font-size: 4vw;
        text-align: center;
        margin: 0;
     }
}



/*
#testBox{
    background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple);
    width: 100%;
    height: 200px;
    position: relative;
    left: -100px;
}*/
